.can-wrapper {
  position: relative;
  height: 60vh; /* Tamanho da lata na tela */
  aspect-ratio: 1 / 2; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CAMADA 1: A Lata de Fundo */
.can-layer-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

/* CAMADA 2: O Container dos Rótulos (máscara) */
.labels-mask-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  
  /* Recorte da máscara */
  -webkit-mask-image: url('../assets/can.png');
  mask-image: url('../assets/can.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

/* Rótulo Individual*/
.sliding-label {
  position: absolute;
  /* Centraliza o rótulo no meio da lata */
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
  
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cobre a área da máscara */
}

/* CAMADA 3: A Lata do Topo (Sombra)*/
.can-layer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 3;
  
  mix-blend-mode: multiply; 
  opacity: 0.8;
  pointer-events: none;
}