.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; 
    overflow: hidden;
    position: relative;
  }
  
.nav-buttons {
    margin-top: 36px;
    display: flex;
    gap: 20px;
    z-index: 10;
}