.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 80px;
    transition: background-color 0.8s ease;
  }

.hero-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
    z-index: 10;
    position: relative;
}

.hero-text-area {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0;
}

.hero-can-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-bg-floating {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre todo o fundo */
    z-index: 0; /* Fica no fundo */
    pointer-events: none; /* Deixa clicar no botão através da imagem */
  }

.hero-description {
    font-size: 1.1rem;
    opacity: 0.9;
    max-width: 500px;
    line-height: 1.6;
    margin: 0;
}

@media (min-width: 768px) {
    .hero-content {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .hero-text-area {
        text-align: left;
        align-items: flex-start;
    }
    .hero-title {
        font-size: 5rem;
    }
}
.nav-buttons {
    margin-top: 36px;
    display: flex;
    gap: 20px;
    z-index: 10;
}